<% title t("teams.edit") %>
<% errors_for :team, :header_message => "", :message => "" %>
<% jqgrid_includes %>

<div class="clear"></div>
<h1><%= t("teams.edit") %></h1>

<% form_for @team, :html => {:class => "default-form"} do |f| %>
  <%= render :partial => 'form', :object => f %>
  <div class="clear prepend-4">
      <div class="span-2">
          <%= link_to_function t("teams.save"), "$('.default-form').submit()", :class => "button span-2" %>
      </div>
      <div class="span-2">
          <%= link_to t("teams.cancel"), teams_url, :class => "button span-2" %>
      </div>
  </div>
  <div class="clear"></div>
<% end %>
<h1><%= t("teams.team_footballes") %></h1>
<%= render :partial => 'footballers', :locals => {:team_id => params[:id]} %>

