<div class="clear">
    <%= form.label :email, "", :class => "span-3" %>
    <%= form.text_field :email, :class => "prepend-1 span-5" %>
</div>
<div class="clear">
    <%= form.label :password, "", :class => "span-3" %>
    <%= form.password_field :password, :class => "span-5" %>
</div>
<div class="clear">
    <%= form.label :password_confirmation, t("auth.repeat_password"), :class => "span-3" %>
    <%= form.password_field :password_confirmation, :class => "span-5" %>
</div>

