<% javascript_merged :ui %>
<% stylesheet_merged :ui %>

<% errors_for :footballer, :header_message => "", :message => "" %>

<% form_for @footballer, :html => {:class => "default-form"} do |f| %>
  <div class="clear">
    <%= f.label :name, "", :class => "span-3" %>
    <%= f.text_field :name, :class => "prepend-1 span-5" %>
  </div>
  <div class="clear">
    <%= f.label :number, "", :class => "span-3" %>
    <%= f.text_field :number, :class => "prepend-1 span-5" %>
  </div>
  <div class="clear">
    <%= f.label :speed, "", :class => "span-3" %>
    <%= f.text_field :speed, :class => "prepend-1 span-5" %>
  </div>
  <div class="clear">
    <%= f.label :technicality, "", :class => "span-3" %>
    <%= f.text_field :technicality, :class => "prepend-1 span-5" %>
  </div>
  <div class="clear">
    <%= f.label :fight, "", :class => "span-3" %>
    <%= f.text_field :fight, :class => "prepend-1 span-5" %>
  </div>
  <div class="clear prepend-4">
      <div class="span-2">
          <%= link_to_function t("teams.save"), "$('.default-form').submit()", :class => "button span-2" %>
      </div>
      <div class="span-2">
          <%= link_to t("teams.cancel"), edit_team_url(@footballer.team_id), :class => "button span-2" %>
      </div>
  </div>
  <div class="clear"></div>
<% end %>


	<style type="text/css">
		#demo-frame > div.demo { padding: 10px !important; };
	</style>
	<script type="text/javascript">
	$(function() {
	  var slider2max = 20;
		slider2 = $("#slider2").slider({
			value:1,
			min: 0,
			max: 20,
			step: 1,
			slide: function(event, ui) {
				//if(ui.value > 10) {
				  //$("#slider2").slider( "value" , [10] )
				  alert(ui);
				//}
				$("#amount").val('$' + ui.value);
			},
			change: function(event, ui) {
			  if(ui.value > 10) {
			    //$("#slider2").slider( "value" , [10] )
			  }
			},
			start: function(event, ui) {
			  if(ui.value > 10) {
			    //$("#slider2").slider( "value" , [10] )
			  }
			}
		});
		$("#slider1").slider({
			value:1,
			min: 0,
			max: 20,
			step: 1,
			slide: function(event, ui) {
				$("#amount").val('$' + ui.value);
				slider2max = slider2max - ui.value
				//$("#slider2").slider( "option" , "max" , 20 - ui.value )
			}
		});
		//$("#amount").val('$' + $("#slider").slider("value"));

	});
	</script>
<div class="demo">

<p>
<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<input type="text" id="amount1" style="border:0; color:#f6931f; font-weight:bold;" />
<div id="slider1"></div>
<br/>
<input type="text" id="amount2" style="border:0; color:#f6931f; font-weight:bold;" />
<div id="slider2"></div>

