<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Cyber Soccer</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <%= stylesheet_link_tag 'screen', 'blueprint/screen.css' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="container">
      <div id="wrapper">
        <div id="header">
          <div class="float-left">
            <h6><%= @current_user.email %></h6>
          </div>
          <div class="span-2">
            <%= link_to 'Sign out', "user_sessions/destroy" %>
          </div>
          <div class="clear"></div>
        </div>
        <div id="content">
          <%= yield %>
        </div>
        <div class="clear"></div>
      </div>
      <div id="footer">
        <div class="copyright">&copy; 2010 Vladimir Shidlovsky</div>
      </div>
    </div>
  </body>
</html>

